.work {
    .inner {
        margin: 0 16rem;

        .ttlWrap {
            display: flex;
            align-items: flex-end;
            gap: 3.2rem;

            .ttl {
                font-size: 3.2rem;
                /*clip-path: inset(0 0 100% 0);*/
                opacity: 0;
            }

            .cat {
                /*margin-top: 2.4rem;*/
                font-size: 1.6rem;
                color: var(--gray);
                opacity: 0;
            }
        }

        .infoWrap {
            display: flex;
            justify-content: space-between;

            margin-top: 6rem;

            .desc {
                width: 50%;

                font-size: 1.6rem;
                line-height: 1.6;
                white-space: pre-line;

                opacity: 0;
                transform: translateY(12px);
            }

            .list {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                width: 40%;

                .item {
                    display: flex;
                    justify-content: space-between;

                    padding-bottom: 0.8rem;
                    border-bottom: 1px solid var(--black);

                    font-size: 1.6rem;
                    text-align: right;

                    opacity: 0;
                    transform: translateY(12px);

                    .tag {
                        color: var(--gray);
                    }

                    .link {
                        display: inline-flex;
                        align-items: center;
                        gap: 0.4rem;

                        padding-bottom: 0.2rem;
                        border-bottom: 1px solid currentColor;

                        transition: color 0.2s ease;

                        &:hover {
                            color: var(--green);
                        }

                        .linkIcon {
                            flex-shrink: 0;

                            width: 1.6rem;
                            height: 1.6rem;
                        }
                    }
                }
            }
        }

        .gallery {
            margin-top: 6rem;
        }
    }
}
