.about {
    @media (max-width: 767px) {
    }
    .ttl {
        font-size: 4.8rem;

        @media (max-width: 767px) {
            font-size: 3.2rem;
        }
    }
    .section {
        .name {
            margin-top: 6rem;

            @media (max-width: 767px) {
                margin-top: 4rem;
            }

            .ja {
                position: relative;

                display: inline-block;

                font-size: 6rem;

                @media (max-width: 767px) {
                }
            }

            .en {
                display: block;

                margin-top: 2rem;

                font-size: 2rem;

                @media (max-width: 767px) {
                }
            }
        }

        .txt {
            width: 50%;

            margin-top: 6rem;

            font-size: 2rem;
            line-height: 1.8;

            @media (max-width: 767px) {
                width: 100%;

                margin-top: 3rem;

                font-size: 1.6rem;
            }
        }
    }
}
