.workSection {
    [data-anim-step="ttl"],
    [data-anim-step="item"] {
        opacity: 0;
        transform: translateY(20px);
    }

    .ttl {
        padding-bottom: 2.4rem;

        font-size: 4.8rem;
        text-align: left;

        @media (max-width: 767px) {
            padding-bottom: 1rem;

            font-size: 3.2rem;
        }
    }

    .line {
        height: 1px;
        background: var(--black);

        transform-origin: left;
        transform: scaleX(0);

        @media (max-width: 767px) {
        }
    }

    .list {
        @media (min-width: 768px) {
            li:has(+ li .article:hover) .article {
                border-bottom-color: transparent;
            }

            li:first-child .article:hover {
                border-top-color: transparent;
            }
        }

        .article {
            position: relative;
            overflow: hidden;

            width: 110rem;
            display: block;

            border-top: 1px solid transparent;
            border-bottom: 1px solid var(--black);

            margin-left: auto;

            transition: width 0.3s var(--bezier-01);

            @media (max-width: 767px) {
                width: 100%;
            }

            @media (min-width: 768px) {
                &:hover {
                    width: 100%;
                    border-top-color: var(--black);

                    .inner {
                        .thumb {
                            height: 50rem;
                        }
                    }
                }
            }

            .inner {
                display: flex;
                justify-content: space-between;

                padding: 4.8rem 0;

                @media (max-width: 767px) {
                    flex-direction: column;
                    gap: 1.6rem;

                    padding: 2.4rem 0;
                }

                .body {
                    display: flex;
                    flex-direction: column;
                    gap: 2.4rem;

                    @media (max-width: 767px) {
                        gap: 1.2rem;
                    }

                    .articleTtl {
                        font-size: 2.4rem;

                        @media (max-width: 767px) {
                            font-size: 1.6rem;
                        }
                    }

                    .info {
                        font-size: 1.6rem;

                        @media (max-width: 767px) {
                            font-size: 1.2rem;
                        }

                        .cat {
                            color: var(--gray);
                        }
                    }
                }

                .thumb {
                    position: relative;
                    height: 20rem;
                    aspect-ratio: 16 / 9;

                    transition: all 0.3s var(--bezier-01);

                    @media (max-width: 767px) {
                        width: 100%;
                        height: auto;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
