@charset "UTF-8";
:root {
    --black: #000;
    --white: #fff;
    --gray: #afafaf;
    --red: #f53a3a;
    --green: #65e6a5;
    --en-sans: futura-pt, sans-serif; /*light:300, Medium: 500, Heavy: 700*/
    --en-sans-bold: futura-pt-bold, sans-serif;
}
/*reset css*/
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
a,
dl,
dt,
dd,
table,
tr,
th,
td,
span,
figcaption {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1;
    outline: none;
    box-sizing: border-box;
}
button,
input,
select,
textarea {
    background-color: unset;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
div,
section,
article,
figure,
picture {
    box-sizing: border-box;
    margin: 0;
    display: block;
    padding: 0;
}
html {
    font-size: calc(100vw / 192); /* 1920px幅のとき 1rem = 10px */
}

/*utilities css*/

.u-ff-en-l {
    font-family: var(--en-sans);
    font-weight: 300;
}
.u-ff-en-m {
    font-family: var(--en-sans);
    font-weight: 500;
}
.u-ff-en-h {
    font-family: var(--en-sans);
    font-weight: 700;
}
.u-ff-en-b {
    font-family: var(--en-sans-bold);
}

.u-trim {
    text-box: trim-both cap alphabetic;
}
