@charset "UTF-8";
:root {
    --black: #000;
    --white: #fff;
    --gray: #a4a4a4;
    --green: #008f30;
    --orange: #ff5d21;
    --bg: #eeeeee;
    --en-sans: gotham, sans-serif; /*light:300, Medium: 500, Bold: 700, Black: 800*/
    --ja-sans: zen-kaku-gothic-new, sans-serif;
    --ff-txt: gotham, zen-kaku-gothic-new, sans-serif;
    --bezier-01: cubic-bezier(0.33, 1, 0.68, 1);
}
/*reset css*/
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
a,
dl,
dt,
dd,
table,
tr,
th,
td,
span,
figcaption {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
    line-height: 1;
    outline: none;
    box-sizing: border-box;
}
button,
input,
select,
textarea {
    background-color: unset;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
div,
header,
footer,
main,
section,
article,
figure,
picture {
    box-sizing: border-box;
    margin: 0;
    display: block;
    padding: 0;
}
html {
    font-size: calc(100vw / 192); /* 1920px幅のとき 1rem = 10px */
    overflow-x: hidden;

    @media (max-width: 767px) {
        font-size: calc(100vw / 39); /* 390px幅のとき 1rem = 10px */
    }
}
body {
    overflow-x: hidden;
    background-color: var(--bg);
}

/*utilities css*/

.u-ff-en-l {
    font-family: var(--en-sans);
    font-weight: 400;
}
.u-ff-en-m {
    font-family: var(--en-sans);
    font-weight: 500;
}
.u-ff-en-h {
    font-family: var(--en-sans);
    font-weight: 700;
}
.u-ff-en-b {
    font-family: var(--en-sans);
    font-weight: 800;
}

.u-ff-ja-r {
    font-family: var(--ja-sans);
    font-weight: 400;
}
.u-ff-ja-m {
    font-family: var(--ja-sans);
    font-weight: 500;
}
.u-ff-ja-b {
    font-family: var(--ja-sans);
    font-weight: 700;
}

.u-ff-txt {
    font-family: var(--ff-txt);
    font-weight: 400;
}

.u-trim {
    text-box: trim-both cap alphabetic;
}

.u-main {
    margin-top: 10rem;
    @media (max-width: 767px) {
    }
}

.u-section-margin {
    margin-top: 10rem;
    @media (max-width: 767px) {
        margin-top: 4rem;
    }
}

.u-inner {
    margin: 0 16rem;
    @media (max-width: 767px) {
        margin: 0 2rem;
    }
}
