.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;

        .sorry {
            font-size: 9.5rem;
        }

        .num {
            font-size: 16rem;
        }

        .return {
            font-size: 4.3rem;
        }

        &:hover {
            color: var(--orange);
        }
    }
}
