.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .ttl {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .enB {
            font-size: 16rem;
        }

        .enS {
            font-size: 3.2rem;
        }
    }
}

.works {
    .inner {
        margin: 0 16rem;
        .ttl {
            font-size: 12.8rem;
            text-align: right;
        }
        .list {
            border-bottom: 0.1rem solid var(--black);
        }
    }
}
