.hero {
    /*height: 100vh;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    @media (max-width: 767px) {
    }

    .ttl {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        @media (max-width: 767px) {
        }

        .enB {
            font-size: 8rem;

            @media (max-width: 767px) {
            }
        }

        .enS {
            font-size: 2rem;

            @media (max-width: 767px) {
            }
        }
    }

    .svgWrap {
        /*width: 50rem;*/

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        /*margin: 0 auto;*/

        @media (max-width: 767px) {
        }

        .svg {
            width: 80rem;
            /*width: 100%;*/

            @media (max-width: 767px) {
                width: 100%;
            }

            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
                overflow: visible;
            }
        }

        .name {
            font-size: 2.4rem;

            @media (max-width: 767px) {
            }
        }
    }
}
