.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & .ttl {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        & .enB {
            font-size: 16rem;
        }

        & .enS {
            font-size: 3.2rem;
        }
    }
}

.works {
    & .ttl {
    }
}
