.article {
    width: 160rem;
    border-top: 0.1rem solid var(--black);

    .inner {
        padding: 8rem 0;
        display: flex;
        justify-content: space-between;

        .body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .cat {
                font-size: 3.6rem;
            }

            .ttl {
                font-size: 9.6rem;
            }

            .year {
                font-size: 3.6rem;
            }
        }

        .thumb {
            width: 40rem;
            height: 30rem;
            background: var(--gray);
        }
    }
}
